@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: white;
  // color: #f8f8f2;
  // text-shadow: -1px 1px 2px #282a36;
  text-align: center;
  margin-top: 100px;
  font-weight: 600;
}

.navbar {
  background-color: #141E46 !important;

  #navbar-logo {
    height: 60px;
    width: 60px;
  }

  #view-orders, #create-order, #live-events-page {
    color: white;
  }

  #google-auth {
    font-weight: 600;
    background-color: #C70039 !important;
  }

}

#home-container {   
  display: flex;   
  flex-direction: column;   
  justify-content: center;   
  gap: 200px;   
  margin-top: 300px;      
  
  .welcome-message {     
    font-weight: bold;   
  }    
    
  .home-view {     
    display: flex; 
    flex-direction: column;     
    justify-content: center;     
    gap: 25px;     
    width: 25%;     
    margin: 0 auto;   
  } 
}



#orders {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 0 0 0 8em;
  text-align: left;
  text-transform: uppercase;

  .card-style {
    height: 200px;
    width: 400px;
    background-color: transparent;
    // color: #f8f8f2;
    // text-shadow: -1px 1px 2px #282a36;
    border-bottom: 1px solid #333;

    .order-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .order-name {
        font-size: 1.5rem;
        font-weight: 700 !important;
      }
    
      #order-open {
        color: white;
        text-align: center;
        width: 25%;
        height: 10%;
        border-radius: 5px;
        border: 2px solid #3acb12;
        background-color: #3acb12;
      }

      #order-closed {
        color: white;
        text-align: center;
        width: 25%;
        height: 10%;
        border-radius: 5px;
        border: 2px solid #fb4934;
        background-color: #fb4934;
      }
    }

    #order-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      
      .order-details {
        text-decoration: none;
        color: black;
        font-weight: 800;
      }

      .order-edit {
        text-decoration: none;
        color: black;
        font-weight: 800;
        margin-right: 15px;
      }
      
      .order-delete {
        color: black;
      }

      
    }

    .emailSmall {
      font-size: 0.875rem;
    }
  }
}

.btn-hide {
  display: flex;
  flex-wrap: wrap;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

// Event Page
#add-event-btn {
  width: 6%;
  height: 5%;
  font-weight: 600;
  margin-bottom: 50px;
}

#event-cards {
  text-align: left;
  max-width: 70%;
  line-height: 1.4;
  margin: 2.5em auto;
  padding: 0 2%;

  #eventCard {
    display: flex;
    align-items: center;
    padding: 0 0 1.5rem;
    background-color: transparent;
    border-bottom: 1px solid #333;
    margin-top: 1.5em;

    .event-img {
      height: 180px;
      width: 300px;
      object-fit: contain !important;

      img {
        height: 100%;
        width: 100%;
      }
      
    }

    .event-text {
      display: flex;
      flex-direction: column;
      margin-left: 2em;
      text-transform: uppercase;
      font-size: 1em;
      width: 100%;

      .event-name {
        line-height: 1.25;
        font-size: 2em;
        font-weight: 800;
        display: inline-block;
      }

      .description-text {
        font-size: 1em;
        line-height: 1.2;
        margin: 6px 0;
        font-style: italic;
        font-weight: 600;
        text-wrap: wrap;
      }

      #bottom-row{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        .date-text {
          font-weight: 800;
          font-size: 1.125em;
        }
  
        .event-edit {
          text-decoration: none;
          color: black;
          font-weight: 800;
          padding: 0.25em 0.5em;
        }
  
        .event-delete {
          color: black;
          padding: 0.37em 0.5em;
        }
      }

      
    }
  }
}

// Order Details
#details {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}
#total-text {
  text-align: center;
}

#order-items-card {
  width: 350px;
  height: 100px;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;

  #order-items-text {
    text-align: left;

    .card-title {
      font-weight: 700;
      font-size: 1.25rem;
    }

    
  }

  #bottom-details {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;

    .card-subtitle {
      font-weight: 600;
      font-size: 1.1rem;
    }

    .fa-solid {
      color: #333;
    }
  }

 
}


// Event Form 
.event-grid-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  max-width: 50%;
  margin: auto;
  text-align: left !important;

  .gridForm-1, .gridForm-4, .gridForm-5 {
    grid-column: span 3 / auto;
  }
  
  .gridForm-2 {
    grid-column: span 3 / auto;
  }
  
  .gridButton {
    font-weight: 700 !important;
    grid-column: 2 / 3;
    max-width: 100%;
  }
}

#form-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  max-width: 30%;
  margin: 150px auto;
  text-align: left !important;
  
  #submit-order {
    grid-column: span 2 / auto;
  }

  .update-order {
    grid-column: span 2 / auto;
  }

  #submit-item {
    grid-column: span 2 / auto;
  }

  #submit {
    font-weight: 700;
    width: 30%;
    text-align: center !important;
  }
}

// Menu
#menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 70%;
  text-transform: uppercase;
}
.itemNameTitle {
  color: #f8f8f2;
}
.cards {
  display: grid;
  margin: 30px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.itemCard {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
}
.card-img-top {
  width: 100px;
}
.colorPrice {
  background-color: rgb(243, 198, 84);
  width: 13%;
  margin: auto;
  font-weight: 700;
  font-style: italic;
}
#create-item-admin-btn {
  margin-bottom: 5px;
  margin-right: 10px;
}
